<button id="arrow" class="p2">
    <span>▾</span>
</button>
<%= render 'layouts/navbar' %>
<div class="videoContainer">
  <%= video_tag("movie5.mp4", :autoplay => true, :loop => true, id: "myVideo") %>
</div>
<div class="section">
  <div class=row>
    <div class="center well">
      <ul>
        <li class="profile-a"><a href="#">code | drink coffee | code some more</a></li>
      </ul>
    </div>
  </div>
  <div class="row" id="page2">
    <div class="container">
    <div class="col m4" id="topics-list">
      <h5>CONTENT</h5>
        <div class="topics-container">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>
                TECHNICAL
              </div>
              <div class="collapsible-body">
                <ul>
                  <% @technical_articles.each do |article| %>
                    <li>
                      <%= link_to "#{article.title}", article_path(article), class: "expandable-article-title" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>
                PERSONAL DEVELOPMENT
              </div>
              <div class="collapsible-body">
                <ul>
                  <% @personal_development_articles.each do |article| %>
                    <li>
                      <%= link_to "#{article.title}", article_path(article), class: "expandable-article-title" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>
                ARTICLES
              </div>
              <div class="collapsible-body">
                <ul>
                  <% @list_articles.each do |article| %>
                    <li>
                      <%= link_to "#{article.title}", article_path(article), class: "expandable-article-title" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>
                VIDEOS
              </div>
              <div class="collapsible-body">
                <ul>
                  <% @videos.each do |video| %>
                    <li>
                      <%= link_to "#{video.title}", article_path(video), class: "expandable-article-title" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>
                RESOURCES
              </div>
              <div class="collapsible-body">
                <ul>
                  <li>Coming Soon!</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m8" id="main-page-feed-column">
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Articles</a></li>
                <li class="tab col s3"><a href="#test2">Videos</a></li>
              </ul>
            </div>
            <div id="articles">
              <div id="test1" class="col s12">
                <%= render 'layouts/articles' %>
                <%= will_paginate @articles %>
              </div>
            </div>
            <div id="videos">
              <div id="test2" class="col s12">
                <%= render 'layouts/videos' %>
                <%= will_paginate @videos %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="subscribe-container center" id="subscribe-page">
    <h5 id="subscribe-title">Enter your name and email to receive latest news</h5>
    <div class="col s12">
      <div class="row">
        <%= form_for :subscribe, url: subscribe_path do |f| %>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :name %>
            <label for="icon_prefix">Full Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <%= f.text_field :email %>
            <label for="icon_email">Email</label>
          </div>
          <%= f.submit 'Subscribe', class: "subscribe-button waves-effect waves-light btn-large" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
