<%= render 'layouts/content_nav' %>
<%= link_to 'Logout', logout_path, :method => 'DELETE', class: "btn" %>
  <div class="row">
    <div class="col s5 forms">
      <a>Add Article</a>
      <%= form_for :article do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :text %>
        <%= f.text_area :text, class: 'new-resource-text-area' %>
        <%= f.label 'Article Type' %>
        <%= f.select :article_type, options_for_select(@article_types), {}, { :class => 'article-type-select' } %>
        <%= f.submit "Add Article", class: "btn" %>
      <% end %>
    </div>
    <div class="col s5 forms">
        <a>Add Video</a>
      <%= form_for :video do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :link %>
        <%= f.text_field :link %>
        <%= f.label :video_type %>
        <%= f.text_field :video_type %>
        <%= f.submit "Add Video", class: "btn" %>
      <% end %>
    </div>
  </div>
