<%= render 'layouts/content_nav' %>
<div class="article-container">
  <%= will_paginate @articles %>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col s4 article-column">
        <div class="article">

        </div>
        <div class="article-title">
          <%= link_to "#{article.title}", article_path(article) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @articles %>
</div>
