<%= render 'layouts/content_nav' %>
<div class="article-container">
  <div class="row">
    <div class="col m8">
      <% if current_user.nil? %>
        <%= image_tag 'user.png', size: '80x80' %>
      <% else %>
        <%= gravatar_for(current_user) %>
      <% end %>
      <a href="#">By: <%= @article.author_name %></a> /
      <a href="#"><%= @article.created_at.to_time.strftime('%B %e, %Y') %></a>
      <h5><%= @article.title %></h5>
      <p><%= simple_format(@article.text) %></p>
    </div>
    <div class="col m4">
      <div style="background-color:red;width:100%;height:500px;"></div>
    </div>
  </div>
</div>
