<%= render 'layouts/content_nav' %>
<div class="article-container">
  <%= will_paginate @videos %>
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col l4 m6 s12 video-column">
        <iframe id="videos-index"
          src=<%= "https://www.youtube.com/embed/#{video.link.split('=').last}" %> frameborder="0" allowfullscreen>
        </iframe>
        <p><%= video.title %></p>
      </div>
    <% end %>
  </div>
  <%= will_paginate @videos %>
</div>
