// Place all the styles related to the adminpanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.forms {
  padding: 10px !important;
  border: 2px solid #42a5f5;
  border-radius: 2px;
  margin: 2px;
}

.controls {
  height: 200px;
  width: 200px;
  margin: 0 !important;
}

.article-type-select {
 display: block !important;
 width: 70%;
 margin: 10px;
 background-color: #FEF4F2 ;
}

.new-resource-text-area {
  height: 200px;
}
