// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-container {
  border-radius: 5px;
  margin-left: 10%;
  width: 80%;
  margin-top: 50px;
}

.article-container a {
  color: #a8a8a8;
}

.article-column {
  height: 280px;
}

.article {
  width: 100%;
  height: 80%;
  background-color: red;
  margin-bottom: 5px;
}

.article-title {
  width: 100%;
  height: 20%;
}

.article-title a {
  font-weight: 400;
  color: #004e92 !important;
  font-size: 14pt;
}

.expandable-article-title {
  padding: 5px !important;
  font-size: 10 !important;
  text-align: center !important;
  font-weight: bold;
  &:hover {
      text-decoration: underline;
      color: #0059b2;
  }
}

.collapsible-body {
  padding: 10px 17px 10px 10px !important;
  overflow: scroll;
  max-height: 500px;
}

.collapsible-body li {
  padding: 5px 5px 5px 5px !important;
  font-size: 13px !important;
  border-radius: 3px;
  margin: 5px;
  &:hover {

  }
}
