nav {
  border-bottom: 2px solid white;
}

#social-nav-icons a {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

#last-social-nav-icon {
  padding-right: 10px;
}

#social-nav-icons i  {
  line-height: 55px !important;
}

#nav-content a {
  font-size: 13pt !important;
  font-weight: 400;
  &:hover {
    color: #4a6282 !important;
    transition: 0.7s;
  }
}
