.pagination {
  height: 25px;
  font-size: 12px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
  border: 1px solid white;
  color: white;
}

.pagination a:hover {
  background: white none repeat scroll 0 0;
  color: black;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  background: white none repeat scroll 0 0;
  color: black;
}

.pagination .disabled {
  color: #c0c0c0;
  background: white;
}
