// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.main-profile {
  /*border: 1px solid #d0cccc;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(112, 110, 112, 1);
  -moz-box-shadow: 1px 1px 10px 0px rgba(112, 110, 112, 1);
  box-shadow: 1px 1px 10px 0px rgba(112, 110, 112, 1) !important;*/
  box-shadow: 0px 0px 0px 0px rgba(112, 110, 112, 1) !important;
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  background-attachment: fixed;
  background-size: auto 80%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-color: #e3f2fd !important;
}

.theme-background-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.theme-color {
  color: #000428; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-profile .row {
  margin-bottom: 0;
}

.profile-a {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.profile-a a {
  font-family: 'Sacramento', cursive;
  font-size: 35pt !important;
  color: white !important;
  pointer-events: none;
  cursor: default;
}

.brand-logo {
  font-family: 'Sacramento', cursive;
  font-size: 35pt !important;
  margin-top: 5px;
}

.article-logo {
  font-family: 'Sacramento', cursive;
  font-size: 34pt !important;
  height: 100px !important;
  line-height: 100px;
  opacity: 0.7;
}

.article-logo a {
  color: #c62828;
  border-bottom: 2px solid black;

}

.main-page-feed-container {
  margin-top: 7px;
  padding: 5px;
  border-radius: 3px;
  text-align: center !important;
  height: 630px;
  transition: 1s;
}

.main-page-feed-container .row {
  margin-bottom: 0;
}

.subscribe-container {
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.subscribe-container a {
  margin-top: 50px;
  margin-bottom: 100px;
}

#subscribe-title {
  margin-bottom: 80px;
}

.article-signature {
  font-size: 8pt;
}

#main-page-feed-column {
  padding-left: 0 !important;
}

.topics-container .collapsible-header {
  font-size: 9pt;
  line-height: 23px !important;
  border-radius: 2px;
  margin-bottom: 2px;
  border: 2px solid #004e92;
  &:hover {
    transition: 0.5s;
    background: #e8eaf6;
  }
}

.topics-container {
  border-radius: 5px;
}

#topics-list {
  padding-right: 0 !important;
}

#topics-list  h5 {
  color: white !important;
  font-size: 15pt !important;
  text-align: center;
}

.nav-wrapper li,
.nav-wrapper a,
.nav-wrapper p {
  color: white !important;
}

/* buttons */

.subscribe-button {
  background: #004e92 !important;
  &:hover {
    background-color: #4c83b2 !important;
  }
}

#message-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.collapsible-header {
  padding: 5px !important;
}

.collapsible-body a {
  color: #2a2a2a;
  padding: 5px;
}
.collapsible-body li {
  background-color: white;
  border-bottom: solid 2px #d3d3d3;
  &:hover {
    background-color: #d3d3d3;
    cursor: pointer;
    transition: 0.3s;
  }
}

/* sliding sections styles */
.section {
  /* the important one*/
  background-attachment: fixed;
  background-size: auto 80%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-bottom: 0 !important;
}

.section .row {
  margin-bottom: 0;
}

.well {
  height: 97vh !important;
  width: 100% !important;
}

.fa {
  padding: 5px;
  &:hover {
    transition: 0.5s;
    color: #455a64;
  }
}

.main-page-media {
  padding: 5px !important;
  background: #e3f2fd;
  border: 4px solid white;
  border-radius: 5px;
  height: 200px;
  width: 32% !important;
  margin-right: 4px !important;
  margin-bottom: 4px !important;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(49, 50, 50, 0.52);
  -moz-box-shadow:    0px 0px 12px 0px rgba(49, 50, 50, 0.52);
  box-shadow:         0px 0px 12px 0px rgba(255, 255, 255, 0.52) !important;
  transition: 0.3s;
  &:hover {
      transition: 0.3s;
      background-color: #d3d3d3;
      -webkit-box-shadow: 0px -1px 13px 0px rgba(50, 50, 50, 0.26);
      -moz-box-shadow:    0px -1px 13px 0px rgba(50, 50, 50, 0.26);
      box-shadow:         0px -1px 13px 0px rgba(255, 255, 255, 0.26) !important;
  }
}

.main-page-media i {
  margin-top: 25px;
}

#page2 {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//top arrow button
#arrow {
  width: 100%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0;
  outline: 0;
  z-index: 100;
  color: #bbb;
  background: transparent;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  font: 36px Heiti, 'Lucida Grande', Arial;
  font-weight: bold;
}
#arrow span {
  display: inline-block;
  position: relative;
  top: -18px;
  -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover {
  background: #004e92;
  opacity: 0.3;
}
#arrow:hover span {
  top: 0;
  color: #fff;
}

/* video css */
#myVideo {
  min-width: 100%;
  min-height: 100%;
}

.videoContainer
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.tabs {
  background-color: rgba(0, 0, 0, 0.0) !important;
}

.tabs a {
  color: white !important;
  font-size: 15pt !important;
}

.tabs .indicator {
  background-color: white !important;
  height: 4px !important;
}
