<div class="main-page-feed-container">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col s4 main-page-media">
        <div class="article-logo">
          <%= link_to "railsbit.com", article_path(article) %>
        </div>
        <div class="article-title">
          <h6>
            <%= link_to "#{article.title}", article_path(article) %>
          </h6>
          <span class="article-signature"><%= article.created_at.strftime('%B') + " " + article.created_at.strftime('%d') + ", " + article.created_at.strftime('%G') + " / BY " + article.author_name.to_s %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
