<nav>
  <div class="nav-wrapper theme-background-color darken-1">
    <a href="/" class="brand-logo center">railsbit</a>
    <ul id="nav-content" class="left hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Articles', articles_path %></a></li>
      <li><%= link_to 'Videos', videos_path %></li>
    </ul>
    <ul id="social-nav-icons" class="right hide-on-med-and-down">
      <li><a href="https://gitlab.com/mrjkc/railsbit.com" target="_blank"><i class="fa fa-gitlab fa-2x" title="Gitlab"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCFhi7a2IzvjnlgLoYiV0Pug/videos?view_as=subscriber" target="_blank"><i class="fa fa-youtube fa-2x" title="Youtube"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-facebook fa-2x" title="Facebook"></i></a></li>
      <li><a href="#" target="_blank"><i id="last-social-nav-icon" class="fa fa-twitter fa-2x" title="Twitter"></i></a></li>
    </ul>
  </div>
</nav>
