<footer class="page-footer theme-background-color darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">railsbit.com</h5>
        <p class="grey-text text-lighten-4">Your Number One Tech Blog <a href='#'>Contact Us</a></p>
      </div>
      <div class="col l4 offset-l2 s12">

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 railsbit.com
    <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
    </div>
  </div>
</footer>
