<div class="main-page-feed-container">
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col s4 main-page-media">
        <iframe id="video"
          src=<%= "https://www.youtube.com/embed/#{video.link.split('=').last}" %> frameborder="0" allowfullscreen>
        </iframe>
      </div>
    <% end %>
  </div>
</div>
